.container{
	background-image: url(images/17198101_1490374284320839_1533005768_n.jpg);
	border-radius:  10px;
	position: relative;
	height:600px;
}

.title1{
	position: absolute;
	top: 10%;
	left: 20%;
	font-size: 80px;
	width: 1000px;
	font-family: "Times New Roman", Times, serif;
	color: white
}

.jas{
	position: absolute;
	top: 25px;
	right: 10%;
	color: white
}
.button{
	position:absolute;
	background-color:  #00cc00;
	border-radius: 5px;
	top:45%;
	right:340px;
	color: white;
	height: 40px;
	width: 90px

}
.email{
	position: absolute;
	background-color: white;
	border-radius: 5px;
	top :45%;
	right:440px;
	height: 40px;
	width: 250px

}
.top{
	position: absolute;
	top: 0px;
	left: 20%;
	font-size: 30px;
	color: white
}
.title2{
	position: absolute;
	top:35%;
	right: 300px;
	height: 50px;
	width: 300px;
	color: white
}

.container2{
	background-color: white;
	height: 300px;
	position: relative;
}

.yas{
	color: lime;
	font-size: 50px;
	left: 10%;
	position: absolute;
}
.f{
	color: #01DF01;
}
 
.frase{
	position: absolute;
	font-size: 20px;
	left: 10%;
	top: 40%

}